@media only screen and (max-width:1225px) {

.dop_text-our{
line-height:20px;
color:#817f86;
width: 505px;
font-family: 'Roboto', sans-serif;
font-size:14px;
transform:translate(-200px,0px);
opacity:0;
transition:all 5s ease 0s;
transition: transform 2s linear;
}
.dop_text-our.trans_active{
	transform:translate(0px,0px);
	opacity:1;
}
	.slider_dot{
	
		margin:80px 44%;
	}
	.meny{
	display: flex;
	padding:16px 0px;
	justify-content: space-around;
	
}
.meny ul{
display: none;
}

.mobile_meny{
	display:none;
}
.mobile_meny_active{
	position:absolute;
	margin-top:58px;
	padding-top:10%;
	background-color:rgba(100,0,100,.7);
	color:white;
	width:60%;
	height:300px;
	transition: transform 1s linear;
}
.mobile_meny_active li{
	display: flex;
	transition: transform 1s linear;
	flex-direction:column;
	text-align:center;
	padding-top:10px;
}
.burger{
	display:block;
	position:relative;
	margin-top:15px;
	height:3px;
	width:30px;
	background-color:white;
	transition: background-color 2s linear;
	transition: transform 1s linear;
}
.burger::before{
	position:absolute;
	display:block;
	content:'';
	margin-top:10px;
	height:3px;
	width:30px;
	background-color:white;
	transition: background-color 2s linear;
	transition: transform 2s linear;
}
.burger::after{
	position:absolute;
	display:block;
	content:'';
	margin-top:-10px;
	height:3px;
	width:30px;
	background-color:white;
	transition: background-color 2s linear;
	transition: transform 2s linear;
}
.burger.burger_active{
	display:block;
	position:relative;
	height:5px;
	width:30px;
	background-color:blue;
	transform: rotate(90deg);

}
.burger.burger_active::before{
	position:absolute;
	display:block;
	content:'';
	height:5px;
	width:30px;
	background-color:blue;

}
.burger.burger_active::after{
	position:absolute;
	display:block;
	content:'';
	height:5px;
	width:30px;
	background-color:blue;

}



.dop_text-our{
line-height:20px;
color:#817f86;
width: 405px;
font-family: 'Roboto', sans-serif;
font-size:14px;
}
.dop_text-our p{
margin-top:20px;
}
.img_vector{
	margin-left:10px; 
}
.blok4{
	height:800px;
}
.carts{
	display:flex;
	margin-top:80px;
	height:600px;
	justify-content:space-around;
	align-content:space-around;
	flex-wrap:wrap;

}
	.blok6{
	background-attachment:fixed; 
	height:950px;
}
.commas_text{
width:580px;
margin:20px auto;
padding:20px 10%;
font-size:16px;
}

}
@media only screen and (max-width:769px) {
	.slider_dot{
		display:none;
	}
	.blok2{

	height:600px;
}
	.flex_box{
	display: flex;
	margin:74px 0px;
	flex-direction: column;
}
.img_vector{
margin:0px auto;

}
.text_our{
	margin:20px; 
}
.blok3{
	background-attachment:fixed;
	background-image:url("/img/overlay.png");
	background-size:cover;
}
.blok4{
	height:1400px;
}
.dop_text-our{
line-height:20px;
color:#817f86;
width: 350px;
font-family: 'Roboto', sans-serif;
font-size:14px;
}
.button_lern{
	margin-top:20px;
}
.carts{
	height:1200px;
	
}
.cart{
	border:1px solid white;
	height:310px;
	width:190px;
}
.blok6{
	height:1300px;
}
.blok6_img img{
width:160px;
}
.commas_text{
width:350px;
margin:20px auto;
padding:20px 0px;
font-size:14px;
}
.blok5{
	background-size:cover;
}
}
@media only screen and (max-width:426px) {
.blok3{
	height: 450px;
}
.blok5{
	background-size:cover;
}
.slider{
	width: 390px;
}
}
@media only screen and (max-width:376px) {
.dop_text{
	margin:0px 10%;
	width:80%;
}
.dop_text-our{
width: 280px;
font-size:12px;
}
.slider{
	display: flex;
	margin-left: -10px;
	margin-top:42px;
	max-width:330px;
	height:80px;
}
.avatar{

	perspective:500px;
	border-radius:50%;
	margin:0px 15px;
	width:30px;
	height:30px;
}
.commas_text{
	width:300px;
}
}
@media only screen and (max-width:320px) {
.dop_text{
	margin:0px 10%;
	width:80%;
}
.dop_text-our{
width: 280px;
font-size:12px;
}
.slider{
	display: flex;
	margin-left: -30px;
	margin-top:42px;
	max-width:230px;
	height:80px;
}
.avatar{

	perspective:100px;
	border-radius:50%;
	margin:0px 23px;
	width:5px;
	height:5px;
}
	.blok6{
	background-attachment:fixed; 
	height:950px;
}
.commas_text{
	width:180px;
}
.blok6_img img{
width:80px;
}
.left_btn{

	margin:30px 3px;

}
.right_btn{	

	margin:30px 3px;
}
.blok7{
	
	height: 600px;
}
}